<!DOCTYPE html>
<html lang='zh-CN'>
<head>
  <title>首页 | Venus2.0接口调试</title>
  <%- include header.ejs %>
</head>
<body>
<div class="panel panel-default" style="height:100px;">
  <div class="panel-heading">⇛接口列表</div>
  <div class="panel-body padding0">
    <div class="col-md-6" >
      <ul style="margin: 0px;list-style: none;" class="padding0 margin3">
        <li><a href="/host/2014/1348" >获取酒店列表</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
